source/physical-event-simulation/.vs
source/physical-event-simulation/debug
source/physical-event-simulation/release
source/physical-event-simulation/x64
source/setup-pes/release

*.vcxproj.user

*.dll
*.lib
*.pdb
*.cmake
